[submodule ".\\externals\\glm"]
	path = .\\externals\\glm
	url = http://github.com/g-truc/glm
[submodule ".\\externals\\glew-cmake"]
	path = .\\externals\\glew-cmake
	url = http://github.com/Perlmint/glew-cmake.git
